<!--  
David Vong
991423258
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Password Store</title>
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<link rel="stylesheet" th:href="@{/css/passwordInput.css}" />
	</head>
	<body>
		<img class="img" alt="logo" th:src="@{/img/logo.jpeg}" />
		<div class="link-container">
			<a th:href="@{/viewPasswordRecord}">View Password Records</a>
			<a th:href="@{/searchPasswordRecord}">Search Password Records</a>
		</div>
		<div class="form-container">
			<form id="form" action="#" method="POST" th:action="@{/addPassword}" th:object="${record}">
				<table>
					<tr>
						<th colspan="2">Password Store</th>
					</tr>
					<tr>
						<td><label for="id">ID: </label></td>
						<td><input id="id" type="text" th:field="*{id}" readonly /></td>
					</tr>
					<tr>
						<td><label for="title">Title: </label></td>
						<td><input id="title" type="text" th:field="*{title}" /></td>
					</tr>
					<tr>
						<td><label for="username">Username: </label></td>
						<td><input id="username" type="text" th:field="*{username}" /></td>
					</tr>
					<tr>
						<td><label for="password"><span class="required">*</span>Password: </label></td>
						<td><input id="password" class="input-password" type="password" th:field="*{password}" /></td>
						<td>
							<input class="cb-password" type="checkbox" />
							<span class="password-text">Show Password</span>
						</td>
					</tr>
					<tr>
						<td><label for="reenterpassword"><span class="required">*</span>Re-Enter Password: </label></td>
						<td><input id="reenterpassword" class="input-password" type="password" /></td>
						<td><span class="message hidden">Password does not match!</span></td>
					</tr>
					<tr>
						<td><label for="url">URL: </label></td>
						<td><input id="url" type="url" th:field="*{url}" /></td>
					</tr>
					<tr>
						<td><label for="email">Email: </label></td>
						<td><input id="email" type="email" th:field="*{email}" /></td>
					</tr>
					<tr>
						<td><label for="note">Note: </label></td>
	 					<td><textarea id="note" rows="3" th:field="*{notes}"></textarea></td>
					</tr>
					<tr>
						<td colspan="2"><input id="submitButton" class="button-4" type="submit" value="Add Password" disabled  /></td>
					</tr>
	 				<tr th:if="${isAdded}">
						<td colspan="2" th:text="${isAdded}"></td>
					</tr>
				</table>
			</form>
		</div>
		<script type="module" th:src="@{/js/pages/index.js}"></script>	
	</body>
</html>