<!--  
David Vong
991423258
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Search Password Record</title>
		<link rel="stylesheet" th:href="@{/css/searchPasswordRecord.css}" />
		<link rel="stylesheet" th:href="@{/css/table.css}" />
		<link rel="stylesheet" th:href="@{/css/passwordInput.css}" />
	</head>
	<body>
		<div class="img-container">
			<img class="img" alt="a mandatory image" th:src="@{/img/mandatoryimg.jpeg}" />
			<a th:href="@{/}">Add Password</a>
			<a th:href="@{/viewPasswordRecord}">View Password Records</a>
			<form method="POST" action="#" th:action="@{/searchResult}" th:object="${id}">
				<label for="search">Search by ID: </label>
				<input id="search" name="searchID" type="text" maxlength="9" />
				<input type="submit" value="Search" />
			</form>
		</div>
		<div th:if="${hasSearched}">
			<h1 th:if="${result == null}">Record Not Found!</h1>
			<table class="record-table" th:unless="${result == null}">
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Username</th>
					<th>Password</th>
					<th>URL</th>
					<th>Email</th>
					<th>Notes</th>
				</tr>
				<tr>
					<td th:text="${result.id}"></td>
					<td th:text="${result.title}"></td>
					<td th:text="${result.username}"></td>
					<td>
						<input class="input-password hide-input" type="password" th:value="${result.password}" readonly />
					</td>
					<td th:text="${result.url}"></td>
					<td th:text="${result.email}"></td>
					<td th:text="${result.notes}"></td>
					<td>
						<input class="cb-password" type="checkbox" />
						<span class="password-text">Show Password</span>
					</td>
					<td><a th:href="@{/editRecordById/}+${result.id}">Edit</a></td>
					<td><a th:href="@{/viewPasswordRecord/}+${result.id}">Delete</a></td>
				</tr>
			</table>
		</div>
		<script type="module" th:src="@{/js/pages/searchPasswordRecord.js}"></script>
	</body>
</html>