<!--  
David Vong
991423258
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Password Records</title>
		<link rel="stylesheet" th:href="@{/css/viewPasswordRecord.css}" />
		<link rel="stylesheet" th:href="@{/css/table.css}" />
		<link rel="stylesheet" th:href="@{/css/passwordInput.css}" />
	</head>
	<body>
		<img class="img" alt="a mandatory image" th:src="@{/img/mandatoryimg.jpeg}" />
		<a th:href="@{/}">Add Password</a>
		<a th:href="@{/searchPasswordRecord}">Search Password Records</a>

		
		<h1 th:if="${recordList != null AND recordList.isEmpty()}">There are currently no passwords stored.</h1>
 		<table class="record-table" th:unless="${recordList != null AND recordList.isEmpty()}">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Username</th>
				<th>Password</th>
				<th>URL</th>
				<th>Email</th>
				<th>Notes</th>
			</tr>
			<tr th:each="record : ${recordList}">
				<td th:text="${record.id}"></td>
				<td th:text="${record.title}"></td>
				<td th:text="${record.username}"></td>
				<td>
					<input class="input-password hide-input" type="password" th:value="${record.password}" readonly />
				</td>
				<td th:text="${record.url}"></td>
				<td th:text="${record.email}"></td>
				<td th:text="${record.notes}"></td>
				<td>
					<input class="cb-password" type="checkbox" />
					<span class="password-text">Show Password</span>
				</td>
				<td><a th:href="@{/editRecordById/}+${record.id}">Edit</a></td>
				<td><a th:href="@{/viewPasswordRecord/}+${record.id}">Delete</a></td>
			</tr>
		</table>
 		<script type="module" th:src="@{/js/pages/viewPasswordRecord.js}"></script>
	</body>
</html>